*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(67, 195, 234);
}


#name, #wyniki{
    margin: auto;
    margin-top: 100px;
    background: rgb(241, 234, 234);
    border-radius: 10px;
    width: 500px;   
}

#name{   
    border: 1px solid black;        
}
#name.none{
    display: none;
}

#title{
    padding: 5px;
    border-bottom: 2px solid red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}

#gracz{
    padding: 3px;
    height: 45px;
    font-weight: bold;    
}

#gracz1, #gracz2, #gracz3, #gracz4{
    background-color: aquamarine;
    border-radius: 5px;
    height: 35px;
    margin-left: 5px;
}

#dalej{
    padding: 5px;
}

#button_next{
    height: 35px;
    width: 85px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: rgb(51, 236, 215);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#button_next:hover{
    background: red;
    color: white;
    text-shadow: 10px black;
}

#imiona, #aktualny, #punkty, #dodaj{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#wyniki.none{
    display: none;
}

#imiona{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#aktualny{
    font-weight: bold;
    margin-bottom: 10px;            
}
#dodaj1, #dodaj2, #dodaj3, #dodaj4{
    width: 50px;
    height: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: aquamarine;
}

#wygrany1, #wygrany2, #wygrany3, #wygrany4{
    width: 25px;
    height: 25px;
    color: gold;
    background: blue;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#wygrany1:hover, #wygrany2:hover, #wygrany3:hover, #wygrany4:hover{
    color: blue;
    background: gold;
}

